# {{ ansible_managed }}
#
# Postfix master process configuration file.  For details on the format
# of the file, see the master(5) manual page (command: "man 5 master" or
# on-line: http://www.postfix.org/master.5.html).
#
# Do not forget to execute "postfix reload" after editing this file.
#
# ==========================================================================
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (no)    (never) (100)
# ==========================================================================
{% for service in postfix_master_configuration %}
{{ service.name }} {% if service.type is defined %}{{ service.type }}{% else %}-{% endif %} {% if service.private is defined %}{{ service.private }}{% else %}-{% endif %} {% if service.unpriv is defined %}{{ service.unpriv }}{% else %}-{% endif %} {% if service.chroot is defined %}{{ service.chroot }}{% else %}-{% endif %} {% if service.wakeup is defined %}{{ service.wakeup }}{% else %}-{% endif %} {% if service.maxproc is defined %}{{ service.maxproc }}{% else %}-{% endif %} {% if service.command is defined %}{{ service.command }}{% else %}-{% endif %}{{- '\n' -}}
{% if service.argument_lines is defined %}
{% for argument_line in service.argument_lines %}
  {{ argument_line }}
{% endfor %}
{% endif %}
{% endfor %}
