user = {{ postfix_sql_backend_user }}
password = {{ postfix_sql_backend_password }}
hosts = {{ postfix_sql_backend_hostname }}
dbname = {{ postfix_sql_backend_databasename }}
table  = users
query = {{ postfix_virtual_domains_query }}
